<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/redeemEmail.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Roboto:wght@100;300;400;500;700&display=swap">
    <title>Redeem Points</title>
  </head>
  <body>
    <center class="wrapper">
      <table class="main">
          <tr>
            <td height="370" style="text-align: center; background-color: #414141;">
              <p style="color: #a3da8d; font-size: 25px;"> - - - - - - Transaction Successfull - - - - - - </p>
              <h1 class="redeem">You have redeemed<br><p class="amount"><%= amount %> Pesos!</p></h1>
            </td>
          </tr>
          <tr>
            <td height="10" style="background-color: #a3da8d ;"></td>
          </tr>
          <tr>
            <td height="250" style="background-color: #a3da8d; text-align: center;">
            <p style="margin-top: 150px; font-weight: 600; color: #ffffff;">Thank you for using Reverse Vending Machine</p>
            </td>
          </tr>
      </table>
    </center>
    </div>
  </body>
</html>
